@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;0,900;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap");
:root {
  --color_white: #FFFFFF;
  --color_red: #D04500;
  --color_green: #4CAF50;
  --color_blue: #363563;
  --color_black: #000000;
  --color_main_bg: #F8F8F8;
  --color_start_btn_bg:#4CAF50;
  --color_start_btn_color:#FFFFFF;
  --color_start_btn_stroke:#73c176;
  --color_start_btn_hover:#2f9b33;
  --color_ques_btn_bg:#363563;
  --color_ques_btn_color:#FFFFFF;
  --color_ques_btn_stroke:#737292;
  --color_ques_btn_hover:#6B6A9F;
  --color_product_btn_bg:#4CAF50;
  --color_product_btn_color:#FFFFFF;
  --color_product_btn_stroke:#73c176;
  --color_product_btn_hover:#2f9b33;
  --font1: 'Source Sans Pro', sans-serif;
  --font2: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

@media (max-width: 575.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1300px) and (max-width: 1531.98px) {
  html {
    font-size: 13px;
  }
}

body {
  font-family: var(--font1);
  background-color: var(--color_main_bg);
  color: var(--color_black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  margin: 0;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a, select, input, textarea, button {
  outline: none !important;
}

.btn:focus, .btn.focus, .form-control:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: none;
}

/* font sizing groups */
.reg--12 {
  font-size: 0.75rem;
}

@media (max-width: 575.98px) {
  .reg--12 {
    font-size: 1rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .reg--12 {
    font-size: 1rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .reg--12 {
    font-size: 0.9rem;
  }
}

@media (min-width: 1300px) and (max-width: 1531.98px) {
  .reg--12 {
    font-size: 1rem;
  }
}

.reg--14 {
  font-size: 0.875rem;
}

.reg--18 {
  font-size: 1.125rem;
}

@media (max-width: 575.98px) {
  .reg--18 {
    font-size: 1rem;
  }
}

@media (max-width: 376px) {
  .reg--18 {
    font-size: 0.8rem;
  }
}

.reg--20 {
  font-size: 1.25rem;
}

.reg--20--2 {
  font-family: var(--font2);
  font-size: 1.25rem;
}

@media (max-width: 376px) {
  .reg--20--2 {
    font-size: 1rem;
  }
}

.italic--reg--18 {
  font-size: 1.125rem;
  font-style: italic;
}

@media (max-width: 575.98px) {
  .italic--reg--18 {
    font-size: 1rem;
  }
}

@media (max-width: 376px) {
  .italic--reg--18 {
    font-size: 0.8rem;
  }
}

.medi--16--2 {
  font-family: var(--font2);
  font-size: 1rem;
  font-weight: 500;
}

.semi--20 {
  font-size: 1.25rem;
  font-weight: 600;
}

.semi--25 {
  font-size: 1.5625rem;
  font-weight: 600;
}

@media (max-width: 575.98px) {
  .semi--25 {
    font-size: 1rem;
  }
}

@media (max-width: 376px) {
  .semi--25 {
    font-size: 0.8rem;
  }
}

.bold--12 {
  font-size: 0.75rem;
  font-weight: 700;
}

@media (max-width: 575.98px) {
  .bold--12 {
    font-size: 1.3rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .bold--12 {
    font-size: 1rem;
  }
}

@media (min-width: 1300px) and (max-width: 1531.98px) {
  .bold--12 {
    font-size: 1rem;
  }
}

.bold--16 {
  font-size: 1rem;
  font-weight: 700;
}

.bold--18 {
  font-size: 1.125rem;
  font-weight: 700;
}

@media (max-width: 575.98px) {
  .bold--18 {
    font-size: 1rem;
  }
}

@media (max-width: 376px) {
  .bold--18 {
    font-size: 0.8rem;
  }
}

.bold--20 {
  font-size: 1.25rem;
  font-weight: 700;
}

.bold--20--2 {
  font-family: var(--font2);
  font-size: 1.25rem;
  font-weight: 700;
}

.bold--22 {
  font-size: 1.375rem;
  font-weight: 700;
}

.bold--30 {
  font-size: 1.875rem;
  font-weight: 700;
}

@media (max-width: 575.98px) {
  .bold--30 {
    font-size: 1.25rem;
  }
}

@media (max-width: 376px) {
  .bold--30 {
    font-size: 1rem;
  }
}

.bold--30--2 {
  font-family: var(--font2);
  font-size: 1.875rem;
  font-weight: 700;
}

@media (max-width: 575.98px) {
  .bold--30--2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 376px) {
  .bold--30--2 {
    font-size: 1.5rem;
  }
}

.bold--50--2 {
  font-family: var(--font2);
  font-size: 3.125rem;
  font-weight: 700;
}

.black--16--2 {
  font-family: var(--font2);
  font-size: 1rem;
  font-weight: 900;
}

.black--23 {
  font-size: 1.4375rem;
  font-weight: 900;
}

/* button settings */
.start--btn {
  background-color: var(--color_start_btn_bg);
  color: var(--color_start_btn_color);
  border: 0.4rem solid var(--color_start_btn_stroke);
  border-radius: .5rem;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  padding: .5rem 2.5rem;
}

@media (max-width: 320px) {
  .start--btn {
    padding: .5rem 1.2rem;
  }
}

.start--btn img {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.start--btn:hover {
  background-color: var(--color_start_btn_hover);
}

.start--btn:hover img {
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.question--btn {
  background-color: var(--color_ques_btn_bg);
  color: var(--color_ques_btn_color);
  border: 0.4rem solid var(--color_ques_btn_stroke);
  font-family: var(--font2);
  display: block;
  width: 40%;
  text-align: left;
  padding: 1.2rem;
  margin: 0 1rem;
  font-size: 1.1875rem;
  font-weight: 700;
  border-radius: .5rem;
}

@media (max-width: 575.98px) {
  .question--btn {
    width: 100%;
    font-size: 1.2rem;
    margin: 0;
  }
}

@media (max-width: 320px) {
  .question--btn {
    font-size: 1rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .question--btn {
    width: 80%;
    margin: 0 .5rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .question--btn {
    width: 47%;
    margin: 0 .5rem;
  }
}

.question--btn:hover {
  background-color: var(--color_ques_btn_hover);
  border: 0.4rem solid #8988B2;
}

/* card settings */
.bounty--card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
  padding: 6rem 2rem 1.5rem 2rem;
  border-radius: 0.75rem;
  border: 0.375rem solid #F3F3F3;
}

@media (max-width: 767.98px) {
  .bounty--card {
    background: url(../img/pattern-xs.png), #ffffff;
  }
}

@media (min-width: 768px) {
  .bounty--card {
    background: url(../img/pattern-xl.png), #ffffff;
  }
}

@media (max-width: 575.98px) {
  .bounty--card {
    padding: 3rem 1rem 1.5rem 1rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .bounty--card {
    padding: 2rem 1rem 1.5rem 1rem;
  }
}

@media (min-width: 1300px) and (max-width: 1531.98px) {
  .bounty--card {
    width: 80%;
  }
}

.product--btn {
  display: block;
  text-align: center;
  width: 70%;
  padding: .8rem;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: var(--color_product_btn_bg);
  color: var(--color_product_btn_color);
  border: 0.4rem solid var(--color_product_btn_stroke);
}

@media (max-width: 575.98px) {
  .product--btn {
    width: 90%;
    padding: .5rem;
  }
}

@media (max-width: 376px) {
  .product--btn {
    padding: .8rem;
  }
}

.product--btn:hover {
  color: var(--color_white);
  background-color: var(--color_product_btn_hover);
}

/* header starts */
.header {
  background-color: var(--color_blue);
  padding: 1rem 1.25rem;
  -webkit-animation: fadeIn .5s;
          animation: fadeIn .5s;
}

/* hero starts */
.hero {
  -webkit-animation: fadeIn .1s;
          animation: fadeIn .1s;
}

.hero .hero--banner {
  background-color: var(--color_main_bg);
  width: 100%;
}

.hero .hero--banner .hero--title {
  position: relative;
  z-index: 1;
}

@media (max-width: 575.98px) {
  .hero .hero--banner .hero--title {
    padding: 3rem 0 !important;
  }
}

.hero .hero--banner .hero--title h1 {
  color: var(--color_red);
}

.hero .hero--banner .hero--title h2 {
  position: relative;
  margin: 0 auto;
  max-width: 37.5rem;
  color: var(--color_blue);
}

.hero .hero--banner .hero--title h2:before, .hero .hero--banner .hero--title h2:after {
  position: absolute;
  content: "";
  width: 6.25rem;
  height: 0.25rem;
  top: 50%;
  background: var(--color_black);
}

@media (max-width: 575.98px) {
  .hero .hero--banner .hero--title h2:before, .hero .hero--banner .hero--title h2:after {
    width: 8rem;
  }
}

@media (max-width: 320px) {
  .hero .hero--banner .hero--title h2:before, .hero .hero--banner .hero--title h2:after {
    width: 5rem;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  .hero .hero--banner .hero--title h2:before, .hero .hero--banner .hero--title h2:after {
    width: 7rem;
  }
}

.hero .hero--banner .hero--title h2:before {
  left: 5rem;
}

@media (max-width: 376px) {
  .hero .hero--banner .hero--title h2:before {
    left: 0rem;
  }
}

@media (min-width: 375.98px) and (max-width: 575.98px) {
  .hero .hero--banner .hero--title h2:before {
    left: 1rem;
  }
}

.hero .hero--banner .hero--title h2:after {
  right: 5rem;
}

@media (max-width: 376px) {
  .hero .hero--banner .hero--title h2:after {
    right: 0rem;
  }
}

@media (min-width: 375.98px) and (max-width: 575.98px) {
  .hero .hero--banner .hero--title h2:after {
    right: 1rem;
  }
}

.hero .hero--banner .bounty--card {
  /* question starts */
}

.hero .hero--banner .bounty--card .circle--wrapper {
  position: relative;
}

@media (max-width: 575.98px) {
  .hero .hero--banner .bounty--card .circle--wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 4rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .hero .hero--banner .bounty--card .circle--wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 4rem;
  }
}

.hero .hero--banner .bounty--card .circle--wrapper .subPromo {
  position: absolute;
  background-color: var(--color_red);
  color: var(--color_white);
  width: 8.4375rem;
  height: 8.4375rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 100%;
  line-height: 1;
  top: -1.25rem;
  right: 2.5rem;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .hero .hero--banner .bounty--card .circle--wrapper .subPromo {
    right: 6.5rem;
  }
}

@media (max-width: 320px) {
  .hero .hero--banner .bounty--card .circle--wrapper .subPromo {
    right: -0.5rem;
    top: -1.5rem;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  .hero .hero--banner .bounty--card .circle--wrapper .subPromo {
    right: .2rem;
  }
}

@media (max-width: 767.98px) {
  .hero .hero--banner .bounty--card .circle--wrapper .subPromo {
    left: 10rem;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero .hero--banner .bounty--card .circle--wrapper .promo {
  position: absolute;
  background-color: var(--color_main_bg);
  width: 11.25rem;
  height: 11.25rem;
  border-radius: 100%;
  left: 41%;
  bottom: 0.75rem;
}

@media (max-width: 767.98px) {
  .hero .hero--banner .bounty--card .circle--wrapper .promo {
    left: 0;
    right: 0;
    bottom: 4.75rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575.98px) {
  .hero .hero--banner .bounty--card .circle--wrapper .promo {
    bottom: 1.75rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .hero .hero--banner .bounty--card .circle--wrapper .promo {
    bottom: 0.75rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .hero .hero--banner .bounty--card .circle--wrapper .promo {
    left: 39%;
  }
}

.hero .hero--banner .bounty--card .circle--wrapper .promo .promo--circle {
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  width: 11.3rem;
  height: 11.3rem;
  border: 0.375rem solid #F3F3F3;
  border-bottom-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  border-radius: 50%;
}

@-webkit-keyframes heartbeat {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@keyframes heartbeat {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.hero .hero--banner .bounty--card .circle--wrapper .promo img {
  -webkit-animation: heartbeat 3s infinite linear;
          animation: heartbeat 3s infinite linear;
  position: absolute;
  width: 8rem;
}

.hero .hero--banner .bounty--card .circle--wrapper .promo #box--img {
  -webkit-animation: none;
          animation: none;
  bottom: 5rem;
  width: auto;
}

.hero .hero--banner .bounty--card .circle--wrapper .promo .progress--bar {
  position: absolute;
  bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.hero .hero--banner .bounty--card .circle--wrapper .promo .progress--bar .barOverflow {
  position: absolute;
  overflow: hidden;
  width: 9.3rem;
  height: 4.65rem;
  left: -4.6rem;
  bottom: -1.15rem;
  -webkit-transform: scaleX(1) scaleY(-1);
          transform: scaleX(1) scaleY(-1);
}

.hero .hero--banner .bounty--card .circle--wrapper .promo .progress--bar .barOverflow .bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 9.3rem;
  height: 9.3rem;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.625rem solid #D04500;
  border-left-color: #EDEDED;
  border-top-color: #EDEDED;
}

.hero .hero--banner .bounty--card .circle--wrapper .promo .progress--bar .bar--count {
  position: absolute;
  bottom: 1rem;
  color: var(--color_blue);
}

.hero .hero--banner .bounty--card .hero--contents .start--div {
  position: relative;
}

.hero .hero--banner .bounty--card .hero--contents .start--div :before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(60deg, #ffffff00 0%, #ffffff00 35%, #ffffff99 50%, #ffffff00 62%, #ffffff00 100%);
  -webkit-animation-name: shimmer;
          animation-name: shimmer;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  background-repeat: no-repeat;
  border-radius: 3.5rem;
}

@-webkit-keyframes shimmer {
  0% {
    background-position: -62rem 0%;
  }
  100% {
    background-position: 62rem 0%;
  }
}

@keyframes shimmer {
  0% {
    background-position: -62rem 0%;
  }
  100% {
    background-position: 62rem 0%;
  }
}

.hero .hero--banner .bounty--card .hero--contents .details {
  width: 58%;
  margin: 0 auto;
}

@media (max-width: 575.98px) {
  .hero .hero--banner .bounty--card .hero--contents .details {
    width: 90%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .hero .hero--banner .bounty--card .hero--contents .details {
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .hero .hero--banner .bounty--card .hero--contents .details {
    width: 70%;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .hero .hero--banner .bounty--card .hero--contents .details {
    width: 52%;
  }
}

.hero .hero--banner .bounty--card .hero--contents .timer {
  color: var(--color_red);
}

.hero .hero--banner .bounty--card .survey {
  display: none;
  -webkit-animation: fadeIn .5s;
          animation: fadeIn .5s;
}

@media (max-width: 575.98px) {
  .hero .hero--banner .bounty--card .survey .survey--card {
    border-radius: 4rem;
    margin-top: 2rem;
  }
}

@media (min-width: 1300px) and (max-width: 1531.98px) {
  .hero .hero--banner .bounty--card .survey .survey--card {
    width: 100%;
    margin: 3rem auto;
  }
}

@media (max-width: 575.98px) {
  .hero .hero--banner .bounty--card .survey .survey--card .survey--inner {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .hero .hero--banner .bounty--card .survey .survey--card .survey--inner {
    width: 100%;
  }
}

.hero .hero--banner .bounty--card .survey .survey--card .survey--inner .progress--bar .progress--detail {
  background: #EBEBEB;
  overflow: hidden;
  height: .8rem;
  border-radius: 1rem;
}

.hero .hero--banner .bounty--card .survey .survey--card .survey--inner .progress--bar .progress--detail .progress {
  background: var(--color_blue);
  width: 0;
  height: inherit;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}

.hero .hero--banner .bounty--card .survey .survey--card .survey--inner .transit--down {
  padding-top: 7rem;
  -webkit-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
}

.hero .hero--banner .bounty--card .survey .survey--card .survey--inner .question {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 575.98px) {
  .hero .hero--banner .bounty--card .survey .survey--card .survey--inner .question {
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  .hero .hero--banner .bounty--card .survey .survey--card .survey--inner .question h4 {
    font-size: 2rem;
  }
}

@media (min-width: 767.98px) {
  .hero .hero--banner .bounty--card .survey .survey--card .survey--inner .question h2 {
    min-height: 6rem;
  }
}

@media (max-width: 575.98px) {
  .hero .hero--banner .bounty--card .survey .survey--card .survey--inner .question h2 {
    font-size: 1.2rem;
  }
}

.hero .hero--banner .bounty--card .survey .survey--card .survey--inner .choices #questionBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero--banner .bounty--card .survey .survey--card .survey--inner .choices #questionBody .letter {
  padding: .7rem 1rem;
  background-color: #E2E2F1;
  border-radius: 50%;
}

.hero .hero--banner .bounty--card .survey .survey--card .survey--inner .validate {
  -webkit-animation: fadeIn .3s;
          animation: fadeIn .3s;
}

.hero .hero--banner .bounty--card .survey .survey--card .survey--inner .validate img {
  position: relative;
  bottom: 3rem;
}

.hero .hero--banner .bounty--card .survey .survey--card .survey--inner .validate .validate--table {
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 767.98px) {
  .hero .hero--banner .bounty--card .survey .survey--card .survey--inner .validate .validate--table {
    width: 100%;
  }
}

@media (min-width: 2500px) {
  .hero .hero--banner .bounty--card .survey .survey--card .survey--inner .validate .validate--table {
    width: 80%;
  }
}

@media (max-width: 320px) {
  .hero .hero--banner .bounty--card .survey .survey--card .survey--inner .validate .validate--table p {
    font-size: 0.9rem;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  .hero .hero--banner .bounty--card .survey .survey--card .survey--inner .validate .validate--table p {
    font-size: 1.1rem;
  }
}

@media (max-width: 575.98px) {
  .hero .hero--banner .bounty--card .survey .survey--card .survey--inner .validate .validate--table p span img {
    width: 2rem;
  }
}

.hero .hero--banner .bounty--card .survey .survey--card .survey--inner .validate .fade--opacity {
  opacity: .5;
}

.hero .hero--banner .bounty--card .survey .survey--card .survey--inner .validate .fade--gone {
  color: #474747;
  font-weight: 700;
  opacity: 1;
}

.hero .hero--banner .ques--card {
  padding: 5rem 2rem 0rem 2rem;
}

@media (max-width: 575.98px) {
  .hero .hero--banner .ques--card {
    padding: 0 1rem 0 1rem;
  }
}

@media (max-width: 320px) {
  .hero .hero--banner .ques--card {
    padding: 0;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .hero .hero--banner .ques--card {
    padding: 2rem 1rem 0rem 1rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .hero .hero--banner .ques--card {
    padding: 5rem 1rem 0rem 1rem;
  }
}

.hero .hero--banner .ques--card .circle--wrapper .promo {
  bottom: -0.25rem;
}

@media (max-width: 575.98px) {
  .hero .hero--banner .ques--card .circle--wrapper .promo--sm {
    bottom: -1.25rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .hero .hero--banner .ques--card .circle--wrapper .promo--sm {
    bottom: 0.75rem;
  }
}

.hero .expired {
  background-color: var(--color_blue);
  color: var(--color_white);
  position: fixed;
  z-index: 999;
  bottom: 0;
  width: 100%;
}

.hero .expired p .watch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 1.2rem;
  background-color: var(--color_red);
  border-radius: 50%;
}

@media (max-width: 575.98px) {
  .hero .expired p .watch img {
    width: 1.5rem;
  }
}

.hero .expired p .limited {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 575.98px) {
  .hero .expired p .limited {
    font-size: 1.3rem;
  }
}

@media (max-width: 320px) {
  .hero .expired p .limited {
    font-size: 1rem;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  .hero .expired p .limited {
    font-size: 1.2rem;
  }
}

.hero .expired p .limited .timer {
  color: var(--color_red);
  border-radius: 1rem;
  font-size: 2.5rem;
}

@media (max-width: 575.98px) {
  .hero .expired p .limited .timer {
    font-size: 2rem;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  .hero .expired p .limited .timer {
    font-size: 1.5rem;
  }
}

@media (max-width: 320px) {
  .hero .expired p .limited .timer {
    font-size: 1.5rem;
  }
}

@media (max-width: 575.98px) {
  .hero .expired p .limited img {
    width: 1.3rem;
  }
}

@media (max-width: 320px) {
  .hero .expired p .limited img {
    width: 1rem;
  }
}

.offers {
  display: none;
  -webkit-animation: fadeIn .5s;
          animation: fadeIn .5s;
  background-color: var(--color_white);
}

.offers .offers--top {
  background: url(../img/pattern-offer.png), #CEE6FE;
}

.offers .offers--top .coupon--bg {
  background-color: var(--color_white);
  width: 50%;
  margin: 0 auto;
  padding-top: 0.2rem;
  border-top-left-radius: .8rem;
  border-top-right-radius: .8rem;
}

@media (max-width: 575.98px) {
  .offers .offers--top .coupon--bg {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .offers .offers--top .coupon--bg {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .offers .offers--top .coupon--bg {
    width: 65%;
  }
}

.offers .offers--top .coupon--bg .coupon {
  color: var(--color_green);
  border: 3px dashed var(--color_green);
  padding: 0.3rem;
  width: 85%;
  margin: 0 auto;
  opacity: 0;
}

@media (max-width: 575.98px) {
  .offers .offers--top .coupon--bg .coupon {
    width: 90%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .offers .offers--top .coupon--bg .coupon {
    width: 75%;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  .offers .offers--top .coupon--bg .coupon p {
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  .offers .offers--top .coupon--bg .coupon p {
    font-size: 0.8rem;
  }
  .offers .offers--top .coupon--bg .coupon p span {
    font-size: 0.8rem;
  }
}

.offers .offers--top .coupon--bg .fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@media (min-width: 1300px) {
  .offers .products {
    max-width: 82.5rem;
  }
}

.offers .products .product {
  width: 100%;
  border: 0.1875rem solid #F7F7F7;
}

.offers .products .product .product--top .product--img {
  position: relative;
  width: 50%;
  background-color: #F7F7F7;
  min-height: 22rem;
}

@media (max-width: 575.98px) {
  .offers .products .product .product--top .product--img {
    min-height: 17rem;
  }
}

.offers .products .product .product--top .product--img .product--badge {
  position: absolute;
  margin: 0.8rem;
}

@media (max-width: 575.98px) {
  .offers .products .product .product--top .product--img .product--badge {
    width: 35%;
  }
}

.offers .products .product .product--top .product--desc {
  width: 50%;
  padding: 1rem;
}

.offers .products .product .product--top .product--desc .rating {
  -webkit-text-fill-color: #DC9A33;
  -webkit-text-stroke-width: 0.07rem;
  -webkit-text-stroke-color: #C57D22;
}

.offers .products .product .product--top .product--desc .remaining {
  color: var(--color_red);
}

.offers .products .product .product--top .product--desc .product--timer h6 span {
  color: var(--color_red);
}

.offers .products .grayed--out .product--img {
  opacity: .3;
}

.offers .products .grayed--out .product--desc .description {
  opacity: .3;
}

.offers .products .grayed--out .product--btn {
  background-color: #fc3a3a;
  border: 0.4rem solid #FF6868;
  cursor: not-allowed;
}

/* footer starts */
.footer {
  background: var(--color_main_bg);
  -webkit-animation: fadeIn .5s;
          animation: fadeIn .5s;
  padding: 3rem 0 6rem 0;
}

@media (max-width: 575.98px) {
  .footer {
    padding: 5rem 0;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .footer {
    padding-bottom: 7rem;
  }
}

@media (min-width: 1300px) and (max-width: 1531.98px) {
  .footer {
    padding-bottom: 7rem;
  }
}

.footer .conditions {
  width: 80%;
  margin: 0 auto;
  color: #474747;
}

@media (max-width: 991.98px) {
  .footer .conditions {
    width: 100%;
  }
}

@media (min-width: 1300px) and (max-width: 1531.98px) {
  .footer .conditions {
    width: 65%;
  }
}

@media (min-width: 2500px) {
  .footer .conditions {
    width: 100%;
  }
}

.footer .conditions p a {
  color: #474747;
}

@media (max-width: 575.98px) {
  .footer .conditions p u {
    font-size: 1rem;
  }
}

@media (min-width: 1300px) and (max-width: 1531.98px) {
  .footer .conditions p u {
    font-size: 1rem;
  }
}

.footer .terms--dialog {
  max-width: 70rem;
}

@media (max-width: 991.98px) {
  .footer .terms--dialog {
    max-width: 60rem;
  }
}

.footer .terms--dialog .modal-content {
  border-radius: 1rem;
}

.footer .terms--dialog .modal-header {
  border-bottom: none;
}

.footer .terms--dialog .modal-header .close {
  font-size: 4.5rem;
  font-weight: 500;
  padding: 2rem 6rem;
  opacity: 1;
}

@media (max-width: 575.98px) {
  .footer .terms--dialog .modal-header .close {
    padding: 2rem 4rem;
  }
}

.footer .terms--dialog .terms--body {
  color: #976116;
  padding: 0rem 7rem 3rem 7rem;
}

@media (max-width: 575.98px) {
  .footer .terms--dialog .terms--body {
    padding: 0rem 3rem 3rem 3rem;
  }
}

.footer .comment {
  display: none;
  -webkit-animation: fadeIn .5s;
          animation: fadeIn .5s;
}

.footer .comment .comment--card {
  background-color: var(--color_white);
  width: 100%;
  padding: 2.5rem 2rem;
  border-radius: 1rem;
  margin: 0 0 3rem 0;
  -webkit-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 767.98px) {
  .footer .comment .comment--card {
    padding: 1.5rem 1rem;
    border-radius: 4rem;
  }
}

.footer .comment .comment--card .comment--item {
  width: 85%;
  margin: 0 auto;
}

@media (max-width: 575.98px) {
  .footer .comment .comment--card .comment--item {
    width: 90%;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .footer .comment .comment--card .comment--item {
    width: 95%;
  }
}

@media (min-width: 1300px) and (max-width: 1531.98px) {
  .footer .comment .comment--card .comment--item {
    width: 70%;
  }
}

.footer .comment .comment--card .comment--item .comment--img {
  width: 15%;
}

@media (max-width: 767.98px) {
  .footer .comment .comment--card .comment--item .comment--img {
    width: 20%;
  }
}

.footer .comment .comment--card .comment--item .comment--img img {
  width: 5.5rem;
  border-radius: 50%;
}

@media (max-width: 575.98px) {
  .footer .comment .comment--card .comment--item .comment--img img {
    width: 4rem;
  }
}

@media (max-width: 320px) {
  .footer .comment .comment--card .comment--item .comment--img img {
    width: 3rem;
  }
}

.footer .comment .comment--card .comment--item .comment--desc {
  width: 90%;
}

@media (max-width: 767.98px) {
  .footer .comment .comment--card .comment--item .comment--desc {
    width: 80%;
  }
}

@media (max-width: 575.98px) {
  .footer .comment .comment--card .comment--item .comment--desc p {
    font-size: 1rem;
  }
}

.footer .comment .comment--card .comment--item .comment--desc .verified {
  color: var(--color_green);
  font-size: 0.875rem;
  font-weight: 700;
  font-style: italic;
}

@media (max-width: 575.98px) {
  .footer .comment .comment--card .comment--item .comment--desc .comment--rating span {
    font-size: 1rem;
  }
}

.footer .comment .comment--card .comment--item .comment--desc .comment--rating span i {
  -webkit-text-fill-color: #DC9A33;
  -webkit-text-stroke-width: 0.03rem;
  -webkit-text-stroke-color: #DC9A33;
}

.footer--bg {
  background: url(../img/pattern-offer.png), #CEE6FE;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    -webkit-transform: translate3d(0, 40px, 0);
            transform: translate3d(0, 40px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    -webkit-transform: translate3d(0, 40px, 0);
            transform: translate3d(0, 40px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */